.programma_head {
  width: 90%;
  height: 60rem;
  margin: 0 auto;
  background-color: var(--color-yellow);
  background-image: url(../assets/img/elements/green_element_big.png);
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: -8rem;
  text-align: center;

  & .programma__htext {
    padding-top: 10rem;
    font-size: 6rem;
    letter-spacing: .8rem;
    line-height: 3rem;

    & .programma__htext--pink {
      font-size: 9rem;
      line-height: 11rem;
      color: var(--color-pink);

      @media (--md) {
        font-size: 8rem;
        line-height: 11rem;
      }

      @media (--sm) {
        font-size: 8rem;
        line-height: 11rem;
      }

      @media (--ss) {
        font-size: 8rem;
        letter-spacing: .2rem;
        line-height: 11rem;
      }
    }

    @media (--md) {
      padding-top: 5rem;
      font-size: 5rem;
    }

    @media (--sm) {
      padding-top: 3rem;
      font-size: 5rem;
    }

    @media (--ss) {
      padding-top: 3rem;
      font-size: 4.8rem;
    }
  }

  & .programma__head__smalltext {
    font-family: roboto;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3rem;
    padding-top: 4rem;

    @media (--ss) {
      font-size: 1.8rem;
    }
  }

  @media (--md) {
    height: 50rem;
    background-image: url(../assets/img/elements/green_element_md.png);
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: -3rem;
  }

  @media (--sm) {
    width: 100%;
    height: 40rem;
    background-image: url(../assets/img/elements/green_element_md.png);
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: -3rem;
  }

  @media (--ss) {
    width: 100%;
    height: 40rem;
    background-image: none;
  }
}

.programma__social {
  margin-top: -40rem;
  margin-bottom: 10rem;
  margin-left: 95%;
  height: 30rem;
  width: 10rem;
  background-color: var(--color-green);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  @media (--md) {
    margin-top: -40rem;
    margin-bottom: 20rem;
    width: 8rem;
  }

  @media (--sm) {
    display: none;
    visibility: hidden;
  }

  @media (--ss) {
    display: none;
    visibility: hidden;
  }

  & .social__link1__p,
  & .social__link2__p,
  & .social__link3__p {
    width: 3rem;
    height: 3rem;
  }

  & .social__link1__p {
    background-image: url(../assets/img/home/fb_icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  & .social__link2__p {
    background-image: url(../assets/img/home/twitter_icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  & .social__link3__p {
    background-image: url(../assets/img/home/insta_icon.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.programma {

  & .programma__filter {

    & .programma__filter__dag {
      list-style: none;
      width: 71rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      font-family: bebas;
      font-size: 3rem;
      letter-spacing: .3rem;
      margin-top: -4.4rem;

      @media (--md) {
        font-size: 2.4rem;
        width: 67rem;
        margin-top: -13.6rem;
      }

      @media (--sm) {
        width: 67rem;
        justify-content: space-around;
        font-size: 2.4rem;
        margin-top: -3.6rem;
      }

      @media (--ss) {
        width: 36.5rem;
        justify-content: center;
        font-size: 1.4rem;
        margin-top: -2.5rem;
      }

      & .filter__dag {
        display: inline-block;
        height: 15rem;

        & .dag__input {
          visibility: hidden;
          position: absolute;
        }

        & .dag__label {
          cursor: pointer;
          background-color: rgba(250, 183, 167, .5);
          padding: 1rem;
          padding-left: 7rem;
          padding-right: 7rem;

          @media (--ss) {
            padding-left: 3rem;
            padding-right: 3rem;
          }
        }

        & .dag__input:checked + .dag__label {
          background-color: rgba(250, 183, 167, 1);
        }
      }
    }

    & .programma__filter__others {
      width: 90%;
      margin: 0 auto;
      font-family: bebas;
      font-size: 1.8rem;
      letter-spacing: .1rem;
      display: flex;
      justify-content: space-between;

      & .programma__filter__types {
        @media (--ss) {
          width: 35rem;
          margin: 0 auto;
          margin-top: 1rem;
        }

        & .filter__type {
          display: inline;

          & .type__input {
            visibility: hidden;
          }

          & .type__label {
            cursor: pointer;
          }

          & .type__input:checked + .type__label {
            color: var(--color-red);
            border-bottom: .2rem solid var(--color-red);
          }
        }
      }

      & .filter__advanced {
        display: flex;

        @media (--ss) {
          display: flex;
          flex-flow: column-reverse;
          align-items: center;
          position: absolute;
          margin-top: -9rem;
          margin-bottom: 5rem;
          margin-left: 0;
          width: 90%;
        }

        & .filter__drop {
          width: 10rem;
          border: none;
          font-family: bebas;
          font-size: 1.8rem;
          background: none;
        }

        & .advanced__search {
          width: 25rem;
          border: .1rem solid var(--color-grey);
          padding: .2rem;
          font-family: roboto;

          @media (--sm) {
            position: absolute;
            margin-top: -7rem;
            margin-left: -50%;
            width: 45rem;
            padding: 1rem;
          }

          @media (--ss) {
            width: 35rem;
            padding: 1rem;
            margin-bottom: 1rem;
          }
        }

        & .advanced__search:placeholder {
          font-style: italic;
        }
      }
    }

    & .filter__line {
      width: 89%;
      border: 0;
      background-color: var(--color-grey);
      height: .1rem;
      margin-top: -.1rem;

      @media (--ss) {
        margin-top: .1rem;
      }
    }
  }
}

.events__grid {

  & .events__list {
    width: 70%;
    margin: 0 auto;
    margin-top: 10rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(26.9rem, 1fr));
    grid-gap: 2rem;

    @media (--ss) {
      grid-gap: 1rem;
    }

    & .events__list__event {
      margin-bottom: 5rem;
      width: 26.9rem;

      @media (--ss) {
        margin-bottom: 3rem;
      }

      & .event__card {
        background-color: var(--color-pink);
        position: relative;
        z-index: 2;
        width: 15rem;
        font-size: 1.6rem;
        letter-spacing: .2rem;
        color: var(--color-white);
        margin-left: 2rem;
        margin-bottom: -2rem;

        @media (--sm) {
          padding-top: 1rem;
          padding-left: 1.5rem;
        }

        @media (--ss) {
          padding-top: 1rem;
          padding-bottom: 1rem;
          padding-left: 1.5rem;
        }
      }

      & .event__link {
        text-decoration: none;
        color: var(--color-black);

        & .event__info {
          width: 26.9rem;
          height: 28.9rem;
          position: absolute;
          margin-top: -29.2rem;
          padding-top: 22rem;
          padding-left: 1rem;
          font-family: bebas;
          font-size: 1.6rem;
          letter-spacing: .2rem;
          transition: .2s;

          & .event__perf {
            color: var(--color-white);
          }

          & .event__act {
            font-size: 2rem;
            letter-spacing: .1rem;
          }

          & .event__uur {
            font-size: 1.4rem;
            font-family: roboto;
            font-weight: bold;
          }
        }

        & .event__info:hover {
          background-repeat: no-repeat;
          background-color: rgb(234, 97, 114, .7);
          background-blend-mode: overlay;
        }
      }

      & .event__link:visited {
        color: var(--color-black);
      }
    }
  }
}

.programma__foot {
  height: 52rem;
  background-color: var(--color-yellow);

  @media (--ss) {
    height: 35rem;
  }

  & .programma__map {
    @media (--ss) {
      height: 30rem;
    }
  }
}
